@font-face{ 
	font-family: lucidam;
	src: url("fonts/lucida/LucidaConsoleRegular.ttf");
}
:root {
	/* light theme */
	--white		: #FFFFE8;
	--black		: #424242;
	--cyan		: #4fa8a8;
	--red		: #b85c57;
	--yellow	: #989848;
	--green		: #40883f;
	--blue		: #0287c8;
	--magenta	: #8888c8;
	--fg		: #424242;
	--bg		: #FFFFE8;
}

a{
	color: var(--blue);
}
a:visited{
	color: var(--magenta);
}
body{
	background-color: var(--bg);
}
img{
	width: 30%;
}
#term{
	display: block;
	margin: 1% auto;
	border: solid 3px var(--cyan);
	padding: 1% 1% 0 1% ;
	background-color: #FFFFFF;
	white-space: pre-wrap;
	word-break: break-all;
	color: var(--fg);
	flex-flow: column;
	height: 62vh;
	width: 82vw;
	overflow-y: scroll;
	font-family: "lucidam",  monospace;
	font-size: 10pt;
}
#blocks{
	margin: 1% auto;
	padding: 2%;
	width: 48vw;
	display: flex;
	justify-content: space-between;
}
#blocks>span{
	top: 0;
	transition: top ease 0.2s;
	position: relative;
	cursor: default;
}
#blocks>span:hover {
	top: -5px;
	cursor: default;
}
#nine{
	display: block;
	margin: 0 auto;
	text-align: center;
	color: var(--fg);
	font-size: 150%;
}
code{
	font-style: italic;
	color: var(--bg);
	background-color: var(--fg);
}
.cyan{
	background-color: var(--cyan);
}
.red{
	background-color: var(--red);
}
.yellow{
	background-color: var(--yellow);
}
.green{
	background-color: var(--green);
}
.blue{
	background-color: var(--blue);
}
.magenta{
	background-color: var(--magenta);
}
.black{
	background-color: var(--black);
}
#term::after{
	content: "\002588";
	color: var(--fg);
	animation: cursor 1.5s step-start infinite;
}

@keyframes cursor{
	50% {
		opacity: 0;
	}
}
