@font-face{ 
		font-family: plexMono;
		src: url("fonts/ibm-plex-mono-fonts/IBMPlexMono-Regular.otf");
}
@font-face{ 
		font-family: plexMonoItalic;
		src: url("fonts/ibm-plex-mono-fonts/IBMPlexMono-Italic.otf");
}
:root{
	--green: #00FF33;
	--lgreen: #33FF00;
}
body{
	background-color: black;
	background-image: radial-gradient(#282828, black 100%);
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "plexMono", monospace;
}
img{
	width: 30%;
}
a:link, a:visited, a:hover, a:active{
	color: var(--lgreen);
}
#term{
	display: block;
	padding: 1% 1% 0 1% ;
	color: var(--lgreen);
	animation: pulsate 0.11s ease-in-out infinite alternate;
	white-space: pre-wrap;
	word-break: break-all;
	flex-flow: column;
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;
	box-sizing: border-box;
	z-index: 1;
	position: absolute;
}
code{
	font-family: "plexMonoItalic", monospace;
}
@keyframes pulsate {
	100% {
		text-shadow:
		0 0 4px var(--green),
		0 0 11px var(--green),
		0 0 19px var(--green),
		0 0 40px var(--green),
		0 0 80px var(--green),
		0 0 90px var(--green),
		0 0 100px var(--green),
		0 0 150px var(--green);
	}
	0% {
		text-shadow:
		0 0 4px var(--green),
		0 0 10px var(--green),
		0 0 18px var(--green),
		0 0 38px var(--green),
		0 0 73px var(--green),
		0 0 80px var(--green),
		0 0 94px var(--green),
		0 0 140px var(--green);
	}
}
#term::after{
	content: "\002588";
	color: var(--lgreen);
	animation: cursor 1.5s step-start infinite;
}

@keyframes cursor{
	50% {
		opacity: 0;
	}
}
